.welcome {
  margin: 8% 15% 8% 10%;
  line-height: 1.7;
  text-align: center;
}

.welcome h1 {
  font-size: 54px;
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
  letter-spacing: 3px;
}

.welcome p {
  font-size: 24px;
  color: #555;
}
