.calculator {
  width: 500px;
  margin: 0 auto;
  background-color: #efeded;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 90px;
  background-color: #b4b3b3;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d5d5d5;
}

.number {
  background-color: #c8c6c6;
}

.zeroDigitButton {
  background-color: #c8c6c6;
  width: 248px;
  grid-column: span 2;
}

.operator {
  background-color: #ff9800;
  color: #fff;
  font-weight: 600;
}

.equals {
  background-color: #c8c6c6;
  color: #141010;
  font-weight: 600;
}

.clear {
  background-color: #c8c6c6;
  color: #1b1717;
  font-weight: 600;
}

.screen {
  height: 70px;
  width: 500px;
  background-color: #818080;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  padding: 0 8px;
  margin-bottom: 16px;
  color: #fff;
  font-weight: 600;
}

.corner {
  color: white;
  font-size: 14px;
}

.content {
  text-align: center;
  padding: 10px;
  margin-top: 18px;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #333;
}

.loader {
  color: #03a603;
  font-weight: 600;
}

.errorLoading {
  color: #b30808;
  font-weight: 600;
}
