.calculator {
  display: flex;
  width: 50vw;
  margin-left: 12vw;
  border-radius: 8px;
}

.left-container {
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 633px;
}

.title-container {
  white-space: nowrap;
}

.title {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 112px;
}

.right-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 6vw;
}

.calculator-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  background-color: rgb(225, 225, 225);
  padding: 12px;
}

.calculator-buttons {
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vh;
  background-color: #b4b3b3;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d5d5d5;
}

.number {
  background-color: #c8c6c6;
}

.zeroDigitButton {
  background-color: #c8c6c6;
  width: 16.8vw;
  grid-column: span 2;
}

.operator {
  background-color: #ff9800;
  color: #fff;
  font-weight: 600;
}

.equals {
  background-color: #c8c6c6;
  color: #141010;
  font-weight: 600;
}

.clear {
  background-color: #c8c6c6;
  color: #1b1717;
  font-weight: 600;
}

.screen {
  height: 70px;
  width: 34vw;
  background-color: #818080;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  padding: 0 8px;
  margin-bottom: 16px;
  color: #fff;
  font-weight: 600;
}

.corner {
  color: white;
  font-size: 14px;
}

.content {
  text-align: center;
  padding: 10px;
  margin-top: 18px;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #333;
}

.loader {
  color: #03a603;
  font-weight: 600;
}

.errorLoading {
  color: #b30808;
  font-weight: 600;
}
